header {
    background-color: royalblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: solid black 3px;
}

footer {
    background-color: white;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    border: solid black 3px;
}